{{ if .Site.Params.cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}
<section class="call-to-action section" style='background-image: url("{{ .Site.Params.cta.bg | absURL }}");'>
    <div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				{{ with .Site.Params.cta.title }}<h2>{{ . }}</h2>{{ end }}
                {{ with .Site.Params.cta.subtitle }}<p>{{ . | safeHTML }}</p>{{ end }}
				{{ with .Site.Params.cta.btnText }}<a href="https://gitlab.com/dwt1"  target="_blank" class="btn btn-main">{{ . }}</a>{{ end }}
			</div>
		</div>
	</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}
