{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.merchandise }}
    {{ if .enable }}
    {{ "<!-- Start Merchandise Section -->" | safeHTML }}
    <section class="merchandise section" id="merchandise">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}
                            <h4>{{ . }}</h4>
                        {{ end }}
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="merchandise-filter">
                        <button class="filtr-control active" type="button" data-filter="all">All</button>
                        {{ range .filtermenu }}
                        <button class="filtr-control" type="button" data-filter="{{ .category }}">{{ .name }}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row filtr-container">
                {{ range .item }}
                    <div class="col-6 col-md-4 padding-0 filtr-item" data-category="{{.category}}">
                        <div class="merchandise-block">
                            <img class="img-fluid" src="{{ .image | absURL }}" alt="merchandise-image">
                            <div class="caption">
                                <a class="search-icon" href="{{ .image | absURL }}" data-lightbox="image-1">
                                    <i class="tf-ion-ios-search-strong"></i>
                                </a>
                                <h4>
                                    <a href="">{{ .title }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
        <!-- end row -->
    </section>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}
