{{ define "main" }}

<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <img src="{{ with .Params.image }}{{ . | absURL }}{{ end }}" class="w-100 mb-3" alt="Post-Image">
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    By {{ .Params.author }} at {{ .Date.Format .Site.Params.dateFormat }}
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}